.container {
	flex-direction: row;
    margin-top: 200px;
    background:fixed;
} 
.make_heart {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: #ea2027;
    position: relative; /*부모*/
    transform: rotate(45deg); /*회전*/
  }
  .make_heart:before, .make_heart:after {
    content: "";
    width: 500px;
    height: 500px;
    position: absolute; /*자식*/
    border-radius: 50%; /*둥글게*/
    background: #ea2027;
  }
  .make_heart:before {
    left: -50%; /*왼쪽으로 -50%*/
  }
  .make_heart:after {
    top: -50%; /*위쪽으로 -50%*/ 
  } 